<!DOCTYPE html>
<html>
	<head></head>
<body>

<h1>Alle Buecher</h1>
<% for (var i = 0; i < buecher.length; i++){%> 
	Autor:<%= buecher[i].autor %> <br>
	Titel:<%= buecher[i].titel %> <br>
	Beschreibung:<%= buecher[i].Beschreibung %> <br>
	<hr>
	<%} %> 
</body> 

</html>